<div class="container">
    <h2>CUSTOMER FORM</h2>
    <br>
    <br>
    <form class="form-horizontal" action="/action_page.php">
      <div class="form-group">
        <label class="control-label col-sm-2"  ng-for="email" >First Name:</label>
        <div class="col-sm-10">
          <input type="first Name"  class="form-control" id="email" placeholder="Enter firstName" name="email">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" ng-for="lastName">Last Name:</label>
        <div class="col-sm-10">          
          <input type="Last Name"   class="form-control" id="lastName" placeholder="Enter lastName" name="pwd">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" ng-for="stateOfOrigin">State of Origin:</label>
        <div class="col-sm-10">          
          <input type="State of Origin"  class="form-control" id="stateOfOrigin" placeholder="Enter State of Origin" name="pwd">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" ng-for="Age">Age:</label>
        <div class="col-sm-10">          
          <input type="Age"  class="form-control" id="Age" placeholder="Enter age" name="pwd">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" ng-for="createdAt">CreatedAt:</label>
        <div class="col-sm-10">          
          <input type="datetime"  class="form-control" id="createdAt" placeholder="Enter input" name="pwd">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" ng-for="Active">Active:</label>
        <div class="col-sm-10">          
          <input type="Truth" class="form-control" id="Active" placeholder="Enter true or False" name="pwd">
        </div>
      </div>
      <div class="form-group">        
       
      </div>
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
            <br>
            <br>
          <button type="submit" class="btn btn-success" routerLink="user-view"style="color: blue; border-color: blue;">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <br>






  